## Necessary Imports

In [ ]:

import pandas as pd
from sqlalchemy import create_engine
import psycopg2

## Loading Dataset To DataFrame

In [ ]:
tax_trip_df = pd.read_csv('/home/laurent/Downloads/green_tripdata_2019-01.csv')

# Converting a Column To Datetime

In [ ]:
tax_trip_df.lpep_pickup_datetime = pd.to_datetime(tax_trip_df.lpep_pickup_datetime)
tax_trip_df.lpep_dropoff_datetime = pd.to_datetime(tax_trip_df.lpep_dropoff_datetime)
tax_trip_df.dtypes
tax_trip_df.shape

## Creating Connection To DB

In [ ]:
# engine = create_engine(f'postgresql://{username}:{password}@:{server}:{port}/{database}')
password = 'n1Mech0kA'
engine = create_engine(f"postgresql://developer:{password}@localhost:5432/NYC_DATA")
con = engine.connect()

## Testing If Connection Works

In [ ]:
# remember your passwiord should not include special sysmbols
query = 'select * from public."NYC_data" limit 2'
con.execute(query).fetchall()

## creating and inserting data to our db via created connection

In [ ]:
# print(pd.io.sql.get_schema(tax_trip_df,'Tax_Trip',con=con))
table_name = 'Tax_Trip'
if_exists = 'replace'
# schema = 'Data Enginers'
tax_trip_df.to_sql(name = table_name,con = con,chunksize = 10000,if_exists=if_exists)

In [ ]:
# jan_15th_2019_trip count
query = """
select count(*) from public."Tax_Trip"
where cast(lpep_pickup_datetime as date) = date '2019-01-15' and cast(lpep_dropoff_datetime as date) = date '2019-01-15' 
"""
con.execute(query).fetchall()

# HOMEWORKS ANSWERS STARTS HERE

## Question 1. Knowing docker tags

### command docker build --help | grep 'image ID to the file'
### gives      --iidfile string          Write the image ID to the file

## Question 2. Understanding docker first run
### pip list gives only three packages which are pip,setuptools and wheel

## Question 3. Count records

In [25]:
query = """
select count(*)
from public."Tax_Trip"
where cast(lpep_pickup_datetime as date) = '2019-01-15' and cast(lpep_dropoff_datetime as date) = '2019-01-15'  
"""
con.execute(query).fetchall()

[(20530,)]

## Question 4. Largest trip for each day

In [26]:
# Largest trip for each day
query = """
select cast(lpep_pickup_datetime as date) pick_up_day ,max(trip_distance)
from public."Tax_Trip"
group by cast(lpep_pickup_datetime as date)
order by 2 desc
limit 1
"""
con.execute(query).fetchall()

[(datetime.date(2019, 1, 15), 117.99)]

## Question 5. The number of passengers

In [27]:
# passenger count
query = """
select passenger_count,count(*)
from public."Tax_Trip"
where cast(lpep_pickup_datetime as date) = date '2019-01-01' and
passenger_count in (2,3)
group by passenger_count
"""
con.execute(query).fetchall()

[(2, 1282), (3, 254)]

# LOADING TAX ZONE LOOKUP TABLE

In [29]:
# taxi+_zone_lookup
tax_trip_zone = pd.read_csv('/home/laurent/Downloads/taxi+_zone_lookup.csv')
table_name = 'Tax_Trip_Zone'
if_exists = 'replace'
# schema = 'Data Enginers'
tax_trip_zone.to_sql(name = table_name,con = con,chunksize = 10000,if_exists=if_exists)

265

## checking Records

In [31]:
tax_trip_zone.shape

(265, 4)

# Question 6. Largest tip

## Scripts That Were Used On PgAdmin to get Required Data

### Getting Astoria Zone LocationID
select "LocationID" from public."Tax_Trip_Zone"
where "Zone" = 'Astoria'

### Drop locationID with Maximum TIP where pickup Location was Astoria
select "DOLocationID","tip_amount"
from public."Tax_Trip"
where "PULocationID" = 7
order by 2 desc

### Its Zone name
select * from public."Tax_Trip_Zone"
where "LocationID" = 146